

h2 {
    text-align: center;
    text-decoration-color:rgb(228, 218, 217);
    padding: 100px 25px 8px; color: #fff; background-color: rgba(48, 65, 109, 0); text-shadow: rgba(0,0,0,0.24) 0 1px 0; background-color: #0067ab; font-size: 77px; box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; border: 1px solid #0164a5; border-radius: 4px; margin-top: 30px;
}
